<%= render "shared/no_buttons_header" %>

<div id="contentForm">
  <h2>Existing User Log-In</h2>
  
  <p><%= link_to "Sign up instead &rarr;".html_safe, new_user_path, class: "btn btn-info" %></p>
  
  <% if flash.alert %>
    <div class="error-messages">
      <h3>Log-In Error:</h3>
      <%= flash.alert %>
    </div>
  <% end %>
  
  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email], { autocorrect: "off", autocapitalize: "off" } %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Log in", class: "btn" %></p>
  <% end %>
</div>
